.sidebar {
  width: 250px; /* fixed width sidebar */
  height: 100vh;
  background-color: #1e1e1e;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;
  z-index: 100;
}

.sidebar .nav-link {
  color: #c5c5c5 !important;
  font-weight: 500;
}

.sidebar .nav-link:hover {
  color: #ffffff !important;
  background-color: #2d2d2d;
  border-radius: 6px;
}
