.sidebar {
  width: 250px;
  min-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(28, 28, 28, 0.8);
  transition: width 0.2s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar.collapsed {
  width: 80px;
  min-width: 80px;
  background-color: rgba(28, 28, 28, 1);
}

/* Header */
.sidebar-header {
  flex-shrink: 0;
  position: absolute;
  left: 8px;
  padding-left: 20px;
  padding-right: 12px;
  text-align: start;
}
.sidebar-header h4 {
  font-family: "Khula, sans-serif";
  font-weight: 1000;
  font-size: 1.75rem;
}

#toggle-button {
  background: #e64717;
  border-radius: 8px;
  border: 1px solid rgb(48, 48, 48);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
#toggle-button:hover {
  background: #d13100;
  border: 1px solid rgb(0, 0, 0);
}

/* Nav Items */
.sidebar-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  gap: 20px;
  top: 15%;
}

.nav-item {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.75rem 1.25rem;
  color: #c5c5c5 !important;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
  margin-left: 20px;
}

.nav-item:hover {
  background-color: #2d2d2d;
  border-radius: 8px;
  color: #fff !important;
}

.nav-item.active {
  background-color: #343434;
  color: #fff !important;
  border-right: 12px solid #e64717;
  border-radius: 0 8px 8px 0;
}

/* When collapsed */
.sidebar.collapsed .nav-item {
  justify-content: center;
  padding: 0.75rem 0;
}

.sidebar.collapsed .icon {
  margin-right: 10px !important;
}

.sidebar.collapsed .text {
  display: none;
}

/* Icon Style */
.icon {
  font-size: 1.5rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
}

@media (max-height: 900px) {
  .sidebar-links {
    margin-top: 80px;
  }
}
