body {
  background-color: #181818;
  color: #e0e0e0;
  min-height: 100vh;
  width: 100%;
  font-family: "Azeret Mono", monospace !important;
  overflow-y: auto;
  margin: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

/* index.css or Sidebar.css */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 1rem;
  padding: 0.75rem;
  width: 100%;
  background: #181818;
  color: #fafafa;
  border-radius: 12px;
  overflow: hidden;

  transition: margin-left 0.3s ease;
}
.main-content.collapsed {
  margin-left: 80px;
}

.page-header {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 0; /* no extra offset */
}

/* Code page styles */
.code-page {
  flex: 1; /* take all vertical space left */
  overflow: hidden; /* prevent body scroll */
  padding: 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: #181818;
}
.tips-page-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  color: #fafafa;
  height: 100%; /* make it fill widget-body */
}
